:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    color: #000;
}

body {
    font-family: 'Montserrat', sans-serif;
    --gray-color: #A0A0A0;
    height: 300vh;
    max-width: 1400px;
    min-width: 300px;
    margin: 0 auto;
}
a, span, img {
    display: block;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}
@media screen and (min-width: 48em){
    .container {
        padding-right: 50px;
        padding-left: 50px;
    }
}
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.align-items-center {
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}

.uppercase *{
    text-transform: uppercase;
}

.margin-top-50 {
    margin-top: 50px;
}

.padding-30 {
    padding: 30px;
}
@media screen and (min-width: 48em) {
    .padding-30 {
        padding: 30px 50px;
    }
}

.products-item-container {
    gap: 40px;
}
@media screen and (min-width: 48em) {
    .products-item-container {
        gap: 65px;
    }
}

.products-item-container .column {
    position: relative;
    height: 135px;
}
@media screen and (min-width: 48em) {
    .products-item-container .column {
        position: relative;
        height: 275px;
    }
}

.product-item > * {
    flex: 1;
}

.fw-900 {
    font-weight: 900;
}

.fw-700 {
    font-weight: 700;
}

.white {
    color: #fff;
}
.white * {
    color: #fff;
}
.font-16 {
    font-size: 1rem;
}
@media screen and (min-width: 48em) {
    .font-16 {
        font-size: 2.5rem;
    }
}
.font-12 {
    font-size: 0.75rem;
}
@media screen and (min-width: 48em) {
    .font-12 {
        font-size: 1.25rem;
    }
}
.font-10 {
    font-size: 0.625rem;
}
@media screen and (min-width: 48em) {
    .font-10 {
        font-size: 1rem;
    }
}
.font-24 {
    font-size: 1.5rem;
}
@media screen and (min-width: 48em) {
    .font-24 {
        font-size: 2.5rem;
    }
}
.italic {
    font-style: italic;
}

.button {
    padding: 9px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 12px;
}
@media screen and (min-width: 48em) {
    .button {
        border-radius: 16px;
    }
}
.bg-white {
    background-color: #fff;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    text-align: center;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 7px;
    background-color: #FFF;
}
@media screen and (min-width: 48em) {
    .arrow-container {
        width: 55px;
        height: 55px;
    }
    .arrow-link {
        width: 20px;
        height: 15px;
    }
}

@media screen and (min-width: 48em) {
    .row {
        display: flex;
        flex-direction: row;
    }
    .row > * {
        flex: 1;
    }
    .row-reverse {
        flex-direction: row-reverse !important;
    }
}
/* HEADER */

.header {
    width: 100%;
    position: relative;
}

.purchases-desktop {
    display: none;
}

.header__inner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    min-height: 65px;
    max-width: 1400px;
    padding: 20px;
    background-color: #fff;
    z-index: 1;

}
@media screen and (min-width: 48em) {
    .header__inner {
        height: 80px;
        display: flex;
        flex-direction: row-reverse;
        padding: 20px 50px;
    }
    .header__inner > * {
        flex: 1;
    }
    a.purchases {
        display: none;
    }
    .purchases-desktop {
        display: block;
        order: -1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.header-head {
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 48em) {
    .header-head {
        justify-content: center;
    }
}
.nav-toggler {
    background-color: transparent;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (min-width: 48em) {
    .nav-toggler {
        display: none;
    }
}
.nav-toggler span {
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
}

.nav-toggler span:not(:nth-child(2)) {
    width: 70%;
    margin-right: auto;
}

.logo {
    font-size: 1.25rem;
    color: var(--gray-color);
    letter-spacing: 3px;
}
@media screen and (min-width: 48em) {
    .logo {
        font-size: 2rem;
    }
}
.logo .sneaker {
    font-weight: 700;
}

.navbar {
    visibility: hidden;
    font-size: 1.5rem;
    width: 100%;
    height: 0;
    padding: 0;
    margin-top: -20px;
    transition: margin-top .5s, visibility .5s, padding .5s, height .5s;
}

.navbar.active {
    visibility: visible;
    margin-top: 0;
    padding: 50px 0;
    height: 100vh;
}
@media screen and (min-width: 48em) {
    .navbar {
        visibility: visible;
        margin-top: 0;
        padding: 0;
        height: auto;
        width: max-content;
    }
    .navbar > * {
        margin-top: 0;
        opacity: 1;
    }
    .navbar.active {
        height: auto;
        padding: 0;
    }
}
.navbar > * {
    margin-top: -50px;
    opacity: 0;
    transition: margin-top .3s linear, opacity .3s linear;
}
@media screen and (min-width: 48em) {
    .navbar > * {
        opacity: 1;
        margin-top: 0;
    }
}
.navbar.active > * {
    margin-top: 0;
    opacity: 1;
}

.extra {
    gap: 30px;
    margin-bottom: 50px;
}
@media screen and (min-width: 48em) {
    .extra {
        display: none;
    }
}
.extra a {
    color: var(--gray-color);
    gap: 20px;
}
.extra img{
    width: 33px;
    height: 33px;
}
.navbar .navbar-list {
    margin-bottom: 80px;
}
@media screen and (min-width: 48em) {
    .navbar .navbar-list {
        margin-bottom: 0;
        margin-right: 2em;
        display: flex;
        align-items: center;
        gap: 3.125em;
        height: 100%;
        width: 100%;
    }
}

.navbar .nav-item {
    margin-bottom: 20px;
}
@media screen and (min-width: 48em) {
    .navbar .nav-item {
        margin-bottom: 0;
    }
    .navbar .nav-item.secondary {
        display: none;
    }
}
.navbar .nav-item .nav-link {
    display: inline;
    padding-bottom: 10px;
}
@media screen and (min-width: 48em) {
    .navbar .nav-item .nav-link {
        font-size: 1.25rem;
    }
}
.navbar .nav-item .nav-link.active {
    font-weight: 700;
    position: relative;
}

.navbar .nav-item .nav-link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #000;
    border-radius: 10px;
}
.navbar div.brand {
    justify-content: center;
}
@media screen and (min-width: 48em) {
    .navbar div.brand {
        display: none;
    }
}
/* HEADER END */


/* NEVER-DONE */
.never-done {
    margin-top: 65px;
}
@media screen and (min-width: 48em) {
    .never-done {
        margin-top: 80px;
    }
}

.never-done .column {
    min-height: 165px;
    width: 100%;
    background-position: top right;
}
@media screen and (min-width: 48em) {
    .never-done .column {
        min-height: 300px;
        background-position: center;
    }
       
}
.main-title {
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 80%;
    align-items: flex-start;
    gap: 12px;
}

.main-title h2 {
    text-transform: uppercase;
}

.just-do-it-img {
    width: 100%;
}

@media screen and (min-width: 48em) {
    .main-title button {
        padding: 15px 25px;
    }
}
/* NEVER-DONE END */


/* HERO */
.hero {
    height: 187px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 48em) {
    .hero {
        height: 700px;
    }
}
.hero .blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(196, 196, 196, 0.2);
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 100px;
}
@media screen and (min-width: 48em) {
    .hero img {
        width: 370px;
    }
}
/* HERO END */


/* NEW PRODUCT*/
.new-products {
    margin-top: -60px;
}

.product-item {
    height: 100%;
    background-color: #EFEFEF;
    padding: 30px 0 14px 33px;
    border-radius: 18px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}
 
.product-item .product-img {
    position: relative;
}
.product-item .product-img img {
    position: absolute;
    width: 200px;
    height: 180px;
    object-fit: cover;
    top: -80px;
    left: -40px;
}

@media screen and (min-width: 48em) {
    .product-item .product-img img {
        top: 0;
    }
}

@media screen and (min-width: 75em) {
    .product-item .product-img img {
        width: 355px;
        height: 270px;
        top: -30px;
    }
}
.product-item .product-link {
    height: 100%;
    justify-content: space-between;
}
.product-item h4 {
    color: #FF3939;
}
@media screen and (min-width: 48em) {
    .product-item h4.new {
        font-size: 3rem;
    }
}
.product-item p {
    letter-spacing: 1px;
}

.product-item .arrow-container {
    align-self: center;
}
/* NEW PRODUCT END */

/* SUBTITLE */
@media screen and (min-width: 48em) {
    .summertime {
        font-size: 5rem;
    }
}

/* SUBTITLE END */

/* CAROUSEL */

.carousel-header {
    justify-content: space-between;
}

.carousel-header .carousel-buttons {
    gap: 10px;
}
@media screen and (min-width: 48em) {
    .carousel-header .carousel-buttons {
        gap: 25px;
    }
}

.carousel-buttons button {
    padding: 6px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
@media screen and (min-width: 48em) {
    .carousel-header button {
        width: 55px;
        height: 55px;
        padding: 17px;
    }
}

.carousel-header .prev {
    background-color: #F5F5F5;
}

.carousel-header .next {
    background-color: #C6C6C6;
}

.carousel-header .reverse-arrow {
    transform: rotate(180deg);
}
.carousel-header button img {
    width: 100%;
}

.carousel-content {
    margin-top: 20px;
    height: 370px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 48em) {
    .carousel-content {
        height: 600px;
    }
}
.carousel__inner {
    position: absolute;
    height: 100%;
    gap: 30px;
    transform: translateX(-50%);
    margin-left: 50%;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 48em) {
    .carousel__inner {
        position: static;
        padding: 0 50px;
        width: 100%;
        gap: 50px;
    }
}
.carousel__inner .carousel-item {
    background-color: #EFEFEF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 25px;
    width: 170px;
    height: 238px;
    text-align: center;
}
@media screen and (min-width: 48em) {
    .carousel__inner .carousel-item {
        height: 400px;
    }
}
@media screen and (min-width: 62em) {
    .carousel__inner .carousel-item {
        height: 580px;
    }
}

.carousel__inner .carousel-item img {
    object-fit: contain;
}
@media screen and (min-width: 48em) {
    .carousel__inner .carousel-item img {
        flex: 2;
    }
}

.carousel-item .carousel-product, .carousel-product-link {
    height: 100%;
    position: relative;
}

.carousel-product-link {
    justify-content: center;
}
@media screen and (min-width: 62em) {
    .carousel-product-link {
        justify-content: space-between;
    }
}
.carousel-figcaption {
    height: 100%;
    justify-content: space-between;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
}
@media screen and (min-width: 48em) {
    .carousel-figcaption {
        flex: 1;
    }
}
.carousel-item .arrow-container {
    position: absolute;
    bottom: 0;
    right: 0;
}
.bg-title {
    position: absolute;
    margin-left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 4.75rem;
    color: rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 62em) {
    .bg-title {
        font-size: 10rem !important;
    }
}
.carousel-item.scaled {
    height: 336px;
    width: 240px;
}
@media screen and (min-width: 48em) {
    .carousel-item.scaled {
        height: 400px;
    }
}
@media screen and (min-width: 62em) {
    .carousel-item.scaled {
        height: 580px;
    }
}

.carousel-item.scaled .carousel-product-link{
    gap: 35px;
}
.carousel-item.scaled img{
    transform: scale(1.2);
}
@media screen and (min-width: 48em) {
    .carousel-item.scaled img{
        transform: scale(1);
    }
}
.carousel-item.scaled .bg-title {
    font-size: 5rem;
}

.carousel-item.scaled .arrow-container {
    transform: scale(1.4);
}
@media screen and (min-width: 48em) {
    .carousel-item .arrow-container {
        transform: scale(1) !important;
        padding: 20px;
    }
}
/* CAROUSEL END */


/* BUY BY CATEGORY */
.categories .categories-content {
    margin-top: 20px;
}

.categories .row.relative {
    position: relative;
    height: 330px;
}
@media screen and (min-width: 48em){
    .categories .row.relative {
        height: 570px;
    }
    .categories .row.relative > .column > * {
        position: static;
    }
}
.categories .bg-gif {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.category-text-container {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.category-text-container .category-text {
    font-size: 2.5rem;
    letter-spacing: 0.3em;
}
@media screen and (min-width: 48em) {
    .category-text-container .category-text {
        color: #000;
        font-size: 2.25rem;
        letter-spacing: 0.3em;
    }
}
/* BUY BY CATEGORY END */

/* GOODS */

.goods {
    flex-direction: column;
}
@media screen and (min-width: 48em) {
    .goods {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }
}
.goods .text-left {
    text-align: left;
}

.goods .text-right {
    text-align: right;
}
/* GOODS END */

/* DISCOUNTS */
.discounts {
    overflow: hidden;
}
.discounts h4 {
    font-size: 0.75rem;
}
@media screen and (min-width: 48em) {
    .discounts h4 {
        font-size: 1.5rem;
    }
}
.discounts .percents {
    display: inline;
    font-size: 0.875rem;
    color:#FF3939;
}
@media screen and (min-width: 48em) {
    .discounts .percents {
        font-size: 1.875rem;
    }
}
.discounts .product-item p {
    letter-spacing: 0;
}
/* DISCOUTNS END */

/* FOOTER */
.footer .bg-img {
    padding-top: 12px;
    padding-bottom: 8px;
}

.footer .bg-img > *:not(:last-child) {
    margin-bottom: 5px;
}

.footer-button {
    padding: 6px 16px;
    font-weight: 400;
}
@media screen and (min-width: 48em) {
    .footer-button {
        padding: 15px 46px;
    }
}
.footer .black-bg {
    padding: 25px 20px;
    background-color: #000;
}
@media screen and (min-width:48em) {
    .footer .black-bg {
        padding: 60px 50px;
    }
}

.footer-nav-container {
    justify-content: space-between;
    gap: 30px;
}
@media screen and (min-width:48em) {
    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
.footer-nav-item:not(:last-child) {
    margin-bottom: 10px;
}

@media screen and (min-width:48em) {
    .footer-nav-item a {
        font-size: 1.25rem;
    }
}
/* FOOTER END */